@import "./rose-foam.css";
* {
  border: none;
  border-radius: 10;
  font-family: "OpenDyslexic Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}
#tags {
  margin-top: 6px;
  margin-left: 12px;
  font-size: 4px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: @base;
  transition: none;
}

#tags button {
  transition: none;
  color: @pine;
  background: transparent;
  font-size: 16px;
  border-radius: 2px;
}

#tags button.occupied {
  transition: none;
  color: @rose;
  background: transparent;
  font-size: 4px;
}

#tags button.focused {
  color: @iris;
  border-top: 2px solid @iris;
  border-bottom: 2px solid @iris;
}

#tags button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: @gold;
  border-color: @rose;
  color: @rose;
}

#tags button.focused:hover {
  color: @rose;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @iris;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @rose;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @foam;
}

#battery.charging,
#battery.plugged {
  color: @base;
  background-color: @foam;
}

#battery.critical:not(.charging) {
  background-color: @foam;
  color: @base;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @love;
    color: @foam;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @gold;
}
#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @pine;
  /*background: #1A1826;*/
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @iris;
}
#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @pine;
}

#tray {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: @pine;
  background: @base;
}

#custom-launcher {
  font-size: 24px;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: @foam;
  background: @base;
}

#custom-power {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @rose;
}

#custom-wallpaper {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @surface;
}

#custom-updates {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @rose;
}

#custom-media {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: @base;
  background: @rose;
}
